<div class="card p-shadow-8">
    <button style="float: right; " pButton type="button" icon="pi pi-arrow-left" label="Voltar"
        routerLink="/inventory/inventory"></button>
    <h4 style="text-align: center;font-family: auto;">Cadastro Inventário</h4>
    <form [formGroup]="formModel">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-1 p-mb-md-0">Indentificação</label>
                <div class="p-col-12 p-md-10">
                    <input maxlength="150" pInputText formControlName="name" placeholder="Nome" />
                    <small class="p-invalid" *ngIf="submitted && !formModel.controls['name'].valid">Este campo é
                        obrigatório.</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-1 p-mb-md-0">Empresa</label>
                <div class="p-col-12 p-md-10">
                    <p-autoComplete formControlName="participantId" [suggestions]="resultsParticipant"
                        (completeMethod)="searchParticipant($event)" field="name" [forceSelection]="true"
                        placeholder="Pesquisar nome"></p-autoComplete>
                    <small class="p-invalid" *ngIf="submitted && !formModel.controls['participantId'].valid">Este campo
                        é obrigatório.</small>
                </div>
                <div class="p-col-12 p-md-1">
                    <button [disabled]="formModel.value.edit" pButton type="button" icon="pi pi-plus"
                        (click)="addParticipant()"></button>
                </div>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-1 p-mb-md-0">Data Inicio</label>
                <div class="p-col-12 p-md-10">
                    <p-calendar formControlName="startDate" [showIcon]="true" [showTime]="true">
                    </p-calendar>
                </div>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-1 p-mb-md-0">Data Final</label>
                <div class="p-col-12 p-md-10">
                    <p-calendar formControlName="endDate" [showIcon]="true" [showTime]="true">
                    </p-calendar>
                </div>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Processado</label>
                <div class="p-col-12 p-md-10">
                    <p-radioButton formControlName="processed" name="processed" [value]=true label="Sim"
                        inputId="processedSim"></p-radioButton>
                    <p-radioButton formControlName="processed" [style]="{'margin-left': '30px'}" name="processed"
                        [value]=false label="Não" inputId="processedNao"></p-radioButton>
                    <br>
                    <small class="p-invalid" *ngIf="submitted && !formModel.controls['processed'].valid">Este campo é
                        obrigatório.</small>
                </div>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Fechado</label>
                <div class="p-col-12 p-md-10">
                    <p-radioButton formControlName="cloused" name="cloused" value="1" label="Sim"
                        inputId="clousedSim"></p-radioButton>
                    <p-radioButton formControlName="cloused" [style]="{'margin-left': '30px'}" name="cloused" value="0"
                        label="Não" inputId="clousedNao"></p-radioButton>
                    <br>
                    <small class="p-invalid" *ngIf="submitted && !formModel.controls['cloused'].valid">Este campo é
                        obrigatório.</small>
                </div>
            </div>
            <div class="p-fluid p-formgrid p-grid">
                <div class="p-field p-col-12 p-md-3"></div>
                <div class="p-field p-col-12 p-md-6">
                    <p-button *ngIf="!salvando" (click)="save()" icon="pi pi-save" iconPos="right" label="{{nomeBotao}}"
                        styleClass="p-button-rounded"></p-button>
                    <p-button *ngIf="salvando" icon="pi pi-spin pi-spinner" iconPos="right" label="{{nomeBotao}}"
                        styleClass="p-button-rounded"></p-button>
                </div>
            </div>
        </div>
        <p-tabView #tabGroup *ngIf="formModel.value.edit">
            <p-tabPanel header="Arquivos">
                <div class="p-grid">
                    <div class="p-col">
                        <h4 style="font-family: auto">Arquivos Sped/NF</h4>
                    </div>
                    <div style="padding-top: 23px">
                        <div style="column-count: 1">
                            <button pButton type="button" label="Novo" icon="pi pi-check"
                                (click)="AddFile(null)"></button>
                        </div>
                    </div>
                </div>
                <p-table [value]="dataSourceFile" [rowHover]="true" dataKey="id" responsiveLayout="stack"
                    [resizableColumns]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:40%">Arquivo</th>
                            <th style="width:25%">Tipo</th>
                            <th style="width:25%">Processado</th>
                            <th width="96vh"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-i="rowIndex">
                        <tr>
                            <td style="width:40%">
                                <span class="p-column-title">Arquivo:</span> {{ row.fileName }}
                            </td>
                            <td style="width:25%">
                                <span class="p-column-title">Tipo:</span> {{ row.fileType }}
                            </td>
                            <td style="width:25%">
                                <span class="p-column-title">Processado:</span> <span
                                    [class]="'customer-badge processed-' + row.processed"> {{row.processed ? 'Sim' :
                                    'Não'}} </span>
                            </td>
                            <td width="96vh">
                                <button pButton type="button" icon="pi pi-pencil" (click)="editFile(row)"
                                    style="margin-right: 3px"></button>
                                <button pButton type="button" icon="pi pi-trash" (click)="deleteFile(row)"
                                    class="p-button-danger"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
            <p-tabPanel header="Produtos">
                <div class="p-grid">
                    <div class="p-col">
                        <h4 style="font-family: auto">Produtos Inventariados</h4>
                    </div>
                    <div style="padding-top: 23px">
                        <div style="column-count: 1">
                        </div>
                    </div>
                </div>
                <p-table [value]="dataSourceProduct" responsiveLayout="stack" [resizableColumns]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Código</th>
                            <th>Produto</th>
                            <th>Saldo Inicial</th>
                            <th>Entrada</th>
                            <th>Saída</th>
                            <th>Saldo</th>
                            <th width="96vh"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-row let-i="rowIndex">
                        <tr>
                            <td width="10%">
                                <span class="p-column-title">Código</span> {{ row.productId }}
                            </td>
                            <td width="20%">
                                <span class="p-column-title">Produto</span> {{ row.product?.name }}
                            </td>
                            <td width="15%">
                                <span class="p-column-title">Saldo Inicial</span> {{ row.quantity | currency:
                                "":"symbol":"1.3"}}
                            </td>
                            <td width="15%">
                                <span class="p-column-title">Entrada</span> {{ row.inputQuantity | currency:
                                "":"symbol":"1.3"}}
                            </td>
                            <td width="15%">
                                <span class="p-column-title">Saída</span> {{ row.outputQuantity | currency:
                                "":"symbol":"1.3"}}
                            </td>
                            <td width="15%">
                                <span class="p-column-title">Saldo</span> {{ row.balanceQuantity | currency:
                                "":"symbol":"1.3"}}
                            </td>
                            <td width="96vh">
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>
    </form>
</div>

<p-confirmDialog acceptLabel="Sim" rejectLabel="Não" header="Confirmation" [style]="{width: '50vw'}" [autoZIndex]="true"
    rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast key="001"></p-toast>

<app-inventory-file *ngIf="isInventoryFile" [show]="isInventoryFile" [data]="inventoryFile"
    (showChange)="closeInventoryFile()"></app-inventory-file>