invapp
data/Entropy.bin
data/inventories_log.ldf
data/inventories.mdf
data/master.mdf
data/mastlog.ldf
data/model_msdbdata.mdf
data/model_msdblog.ldf
data/model_replicatedmaster.ldf
data/model_replicatedmaster.mdf
data/model.mdf
data/modellog.ldf
data/msdbdata.mdf
data/msdblog.ldf
data/tempdb.mdf
data/templog.ldf
log/*
secrets/machine-key

/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
appsettings.json
Startup.cs
src/environments/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

wwwroot

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db