<style>
h1 {
    font-size: 25px;
    margin-bottom: 10px;
}
h2 {
    font-size: 20px;
}

p {
    font-size: 15px;
}
</style>

<div class="card card-w-title">
    <h1>Política de Privacidade</h1>
    <h2>Product Owner</h2>
    <h3>Data de Entrada em Vigor: Sexta-feira, 03 de Janeiro de 2020.</h3>

    <p><b>A Product Owner.</b> ("Product Owner" ou "nós") oferece serviços, como o aplicativo ConeSales (o
        "Aplicativo"), que permitem às pessoas realizarem vendas de seus produtos via app Conesales. Você consente com
        as
        práticas da Product Owner, conforme
        estabelecido nesta política de privacidade, quando opta por usar o Aplicativo.</p>

    <h2><u>Informações que coletamos ou recebemos</u></h2>

    <p><u>Informações fornecidas por você.</u> Coletamos o conteúdo e outras informações fornecidas por você durante sua
        utilização de nossos Serviços, incluindo informações sobre si mesmo ou sobre outros, como as informações que
        você
        fornece ao criar uma conta,
        e o conteúdo que você cria ou fornece por meio do Aplicativo, incluindo fotos retiradas dentro do App, dados do
        registro do telefone IME para registro de unicidade do aplicativo. Quando fazemos isso, realizamos somente com
        intuito de coletar informações
        básicas para utilização da aplicação.</p>
    <p><u>Informações fornecidas por outras pessoas.</u> Não realizamos coleta de dados fornecidas por outras pessoas.
    </p>
    <p><u>Informações de sites ou aplicativos que usam nossos Serviços.</u> Não realizamos coletas de informações em
        nossos
        sites.
    </p>
    <p><u>ções do dispositivo.</u> Coletamos informações de ou sobre os dispositivos que você usa para acessar nossos
        Serviços, como o sistema operacional, o identificador e as configurações do dispositivo, entre outras
        informações
        que você permite que nossos
        Serviços acessem em seu dispositivo, incluindo as permissões que você concede aos nossos Serviços em seu
        dispositivo. Isso também pode incluir informações sobre o local, que podem ser derivadas de informações como o
        endereço IP de seu dispositivo
        ou, dependendo do dispositivo que você usa para acessar ou usar nossos Serviços (e quaisquer configurações
        aplicáveis), informações sobre o local preciso de seu dispositivo.</p>

    <h2><u>Como usamos as informações que temos</u></h2>

    <h3>Usamos todas as informações que temos para nos ajudar a fornecer e apoiar nossos Serviços. Saiba como:</h3>
    <p><u>Fornecer, melhorar e desenvolver Serviços.</u> Usamos as informações que temos a fim de fornecer, aprimorar,
        desenvolver e entender nossos Serviços e para proporcionar experiências, conteúdo e informações personalizadas
        para
        você e para outras pessoas.</p>
    <p>Também podemos usar as informações que temos para analisar ou para conduzir questionários e pesquisas, testar
        recursos em desenvolvimento e analisar as informações que temos para avaliar e aprimorar os produtos e serviços,
        desenvolver novos produtos ou
        recursos e conduzir atividades de auditoria e de solução de problemas.</p>
    <p><u>Comunicar com você.</u> Usamos as informações que temos, incluindo suas informações de contato, para nos
        comunicarmos com você sobre nossos Serviços. Também usamos as informações que temos para responder quando você
        entra
        em contato conosco.</p>
    <p><u>Proporcionar segurança.</u> Acima de tudo, usamos as informações que temos para promover a segurança em nossos
        Serviços e para investigar o uso de nossos Serviços, incluindo qualquer atividade suspeita ou possíveis
        violações de
        nossos termos e políticas.</p>
    <p><u>Cookies e outras tecnologias.</u> Também usamos SDKs (Kits de desenvolvimento de software) para ler, armazenar
        e
        acessar
        informações de seu dispositivo móvel a fim de ajudar a fornecer nossos Serviços, conforme descrito acima, quando
        aplicativos móveis usarem
        ou forem integrados aos nossos Serviços. Se o seu dispositivo ou navegador os oferecer, você poderá modificar
        suas
        configurações de cookie seguindo as instruções fornecidas por seu dispositivo ou navegador móvel. Observe que se
        você configurar seu
        navegador ou dispositivo para excluir, desativar ou bloquear cookies ou outras tecnologias, talvez não seja
        possível
        acessar algumas partes dos Serviços, e outras partes de nossos Serviços talvez não funcionem apropriadamente.
    </p>

    <h2><u>Como as informações são compartilhadas</u></h2>

    <p>Podemos compartilhar as informações que temos nas seguintes circunstâncias, ou em outras circunstâncias com sua
        permissão.</p>
    <p><u>que você compartilha.</u> Você pode escolher compartilhar conteúdo e outras informações, ou se comunicar de
        outra
        forma com outras pessoas, por meio de nossos Serviços. Ao fazer isso, lembre-se de que as pessoas com quem você
        compartilha podem optar por compartilhar as informações que você compartilhou.</p>
    <p><u>Itens que outras pessoas compartilham.</u> Outras pessoas podem usar nossos Serviços para compartilhar
        conteúdo e
        outras informações sobre você, por exemplo, fotos ou vídeos.</p>
    <p><u>Aplicativos de terceiros, sites ou outros serviços.</u> Quando você usa aplicativos, sites ou outros serviços
        de
        terceiros que utilizam ou são integrados aos nossos Serviços, eles podem coletar ou receber informações sobre
        suas
        interações com eles em nossos Serviços, bem como suas publicações ou compartilhamentos. Observe que esses
        serviços
        não são regidos por esta Política de Privacidade, e recomendamos a revisão dos termos, políticas e práticas
        desses
        terceiros, pois eles se aplicam ao seu acesso e uso dos serviços.</p>

    <h2><u>Acesso e exclusão</u></h2>

    <p>Nós armazenamos informações pelo tempo necessário para fornecer Serviços para você e outras pessoas, inclusive os
        descritos acima. Se você tiver uma conta associada aos nossos Serviços, as informações associadas à sua conta
        serão mantidas até que ela seja excluída, a menos que não precisemos mais dos dados para fornecer produtos e
        serviços.</p>

    <h2><u>Respondendo a solicitações legais e evitando ameaças</u></h2>

    <p>Nós podemos acessar, reter e compartilhar suas informações em resposta a uma solicitação judicial (como um
        mandado de busca, ordem judicial ou intimação) se acreditarmos de boa-fé que a lei nos obriga a fazer isso. Isso
        pode incluir a resposta a solicitações judiciais de jurisdições fora dos Estados Unidos quando acreditarmos de
        boa fé que a resposta é exigida por lei na jurisdição em questão, diz respeito aos usuários na jurisdição em
        questão e está em conformidade com padrões reconhecidos internacionalmente. Também podemos acessar, reter e
        compartilhar informações quando acreditarmos de boa-fé que isso é necessário para: detectar, impedir e resolver
        fraudes ou outras atividades ilegais; proteger nossos Serviços, você e outras pessoas, inclusive como parte das
        investigações; ou impedir a morte ou lesões corporais iminentes. As informações que recebemos sobre você,
        incluindo dados de transações financeiras relacionadas a compras feitas por nossos Serviços, podem ser
        processadas e retidas por um longo período quando sujeitas a solicitações judiciais ou obrigações legais,
        investigações governamentais ou investigações referentes a possíveis violações de nossos termos ou políticas, ou
        como forma de preveni-las. Poderemos também reter informações de contas desativadas por violar nossos termos
        por, no mínimo, um ano, a fim de evitar outros abusos ou violações de nossos termos.</p>

    <h2><u>Transferências de dados internacionais</u></h2>

    <p>Temos sede em Vitória - ES, e, independentemente de onde você utilize nossos Serviços ou forneça de outra forma
        informações para nós, as informações podem ser transferidas e mantidas em servidores localizados nos EUA e em
        qualquer outro país. Observe que as leis, regulamentos e normas do país no qual as informações são armazenadas
        podem ser diferentes do que está em vigor em seu próprio país. Ao utilizar nossos Serviços, você consente com
        esta coleta, transferência, armazenamento e processamento de informações nos EUA e em outros países.</p>

    <h2><u>Alterações nesta Política de Privacidade</u></h2>

    <p>Se fizermos alterações nesta Política de Privacidade, forneceremos um aviso sobre essas alterações da forma
        apropriada, por exemplo, por meio dos Serviços ou nos comunicando com você de outra forma, e/ou atualizando a
        "Data de vigência" na parte superior desta política.</p>

    <h2><u>Como falar conosco</u></h2>

    <p>Caso você tenha dúvidas sobre esta Política de Privacidade ou sobre nossas práticas relacionadas, entre em
        contato conosco através do email <a>contato@productowner.com.br</a></p>

</div>