body .ui-dataview-w-no-header {
  .ui-dataview {
    .ui-dataview-header {
      display: none;
    }

    .font-size {
      font-size: 10px;
      @media (max-width: 1199px) {
        font-size: 8px !important;
      }
    }
  }
}
