.footer-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #EEEEEE;
  width: 100%;
  height: 100px;
  margin-left: 250px;
  border-top: 1px solid #fff;
  padding: 20px;
}

.mb-footer-fixed {
  margin-bottom: 120px;
}
