table.keyboard {
  width: 100%;
  height: 100%;

  tbody {
    tr {
      td {
        height: 30px;
        width: 20%;
      }
    }
  }

  button {
    height: 100%;
    width: 100% !important;
  }
}
