$primaryColor: rgb(0, 0, 0);
$primaryTextColor:#ffffff;

$logoBgColor:#FFA726;
$topbarBgColor:rgb(0, 0, 0);
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#FFB74D;
$lightMenuitemActiveTextColor:rgb(0, 0, 0);
$darkMenuitemActiveTextColor:rgb(0, 0, 0);
$horizontalMenuitemActiveBgColor:rgb(0, 0, 0);
$horizontalMenuitemActiveTextColor:#20202076;
$badgeBgColor:rgb(0, 0, 0);
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
