$primaryColor: #c00;
$primaryTextColor:#ffffff;

$logoBgColor:#FFA726;
$topbarBgColor:#c00;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#FFB74D;
$lightMenuitemActiveTextColor:#c00;
$darkMenuitemActiveTextColor:#c00;
$horizontalMenuitemActiveBgColor:#c00;
$horizontalMenuitemActiveTextColor:#000000;
$badgeBgColor:#c00;
$badgeTextColor:#212121;

@import '../../sass/layout/_layout';
